@page
@model FrontEnd.CreateNoteModel
@{
    ViewData["Title"] = "CreateNote";
}

<h2 class="info-heading">Create new note...</h2>

<form method="post" class="crud-form form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <input asp-for="Note.NoteString" class="form-control" placeholder="Type your note here..."/>
            <span asp-validation-for="Note.NoteString" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create note</button>
</form>


