@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (Model.Notes.Count() <= 0)
{
    <h2 class="text-center info-heading">Here is no any notes yet. Add something to your schedule...</h2>
}
else
{
    <h2 class="text-center info-heading">Your notes. You have @Model.Notes.Count() note(s) to do...</h2>
}

<div class="create-btn">
    <a class="btn btn-primary" asp-page="/createNote">Create note</a>
</div>

@foreach (var note in Model.Notes.Reverse())
{
<form method="post">
    <div class="card">
        <div class="card-body">
            <p class="card-text">@note.NoteString</p>
            <a asp-page="/updateNote" asp-route-id="@note.Id" class="btn btn-primary">Update note</a>
            <button type="submit" asp-route-id="@note.Id" asp-page-handler="delete" class="btn btn-danger">Delete note</button>
        </div>
    </div>
</form>
}

