@page  "{id:int?}"
@model FrontEnd.UpdateNoteModel
@{
    ViewData["Title"] = "UpdateNote";
}

<h1>UpdateNote</h1>

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Note.Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Note.NoteString" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Note.NoteString" class="form-control" />
            <span asp-validation-for="Note.NoteString" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update note</button>
</form>
