@page  "{id:int?}"
@model FrontEnd.UpdateNoteModel
@{
    ViewData["Title"] = "UpdateNote";
}

<h2 class="info-heading">Update your note...</h2>

<form method="post" class="crud-form form-horizontal">
    <input asp-for="Note.Id" type="hidden" />
    <div class="form-group">
        <div class="col-md-12">
            <input asp-for="Note.NoteString" class="form-control" placeholder="Update your note here..." />
            <span asp-validation-for="Note.NoteString" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update note</button>
</form>
